.category{
    padding: 15px 2px 15px 25px;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    &:hover{
        background-color:#f8f9fa ;
        
    }
}
.link{
    width: 100%;
    text-decoration: none;
}