@font-face {
    font-family: gotham;
    src: url("../../fonts/gotham/GothamRnd-Light.woff2") format("woff2"), url("../../fonts/gotham/GothamRnd-Light.woff") format("woff"), url("../../fonts/gotham/GothamRnd-Light.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: gotham;
    src: url("../../fonts/gotham/GothamRnd-LightIta.woff2") format("woff2"), url("../../fonts/gotham/GothamRnd-LightIta.woff") format("woff"), url("../../fonts/gotham/GothamRnd-LightIta.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: gotham;
    src: url("../../fonts/gotham/GothamRnd-Book.woff2") format("woff2"), url("../../fonts/gotham/GothamRnd-Book.woff") format("woff"), url("../../fonts/gotham/GothamRnd-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: gotham;
    src: url("../../fonts/gotham/GothamRnd-BookIta.woff2") format("woff2"), url("../../fonts/gotham/GothamRnd-BookIta.woff") format("woff"), url("../../fonts/gotham/GothamRnd-BookIta.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: gotham;
    src: url("../../fonts/gotham/GothamRnd-Medium.woff2") format("woff2"), url("../../fonts/gotham/GothamRnd-Medium.woff") format("woff"), url("../../fonts/gotham/GothamRnd-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: gotham;
    src: url("../../fonts/gotham/GothamRnd-MedIta.woff2") format("woff2"), url("../../fonts/gotham/GothamRnd-MedIta.woff") format("woff"), url("../../fonts/gotham/GothamRnd-MedIta.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: gotham;
    src: url("../../fonts/gotham/GothamRnd-Medium.woff2") format("woff2"), url("../../fonts/gotham/GothamRnd-Medium.woff") format("woff"), url("../../fonts/gotham/GothamRnd-Medium.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: gotham;
    src: url("../../fonts/gotham/GothamRnd-MedIta.woff2") format("woff2"), url("../../fonts/gotham/GothamRnd-MedIta.woff") format("woff"), url("../../fonts/gotham/GothamRnd-MedIta.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: gotham;
    src: url("../../fonts/gotham/GothamRnd-Bold.woff2") format("woff2"), url("../../fonts/gotham/GothamRnd-Bold.woff") format("woff"), url("../../fonts/gotham/GothamRnd-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: gotham;
    src: url("../../fonts/gotham/GothamRnd-BoldIta.woff2") format("woff2"), url("../../fonts/gotham/GothamRnd-BoldIta.woff") format("woff"), url("../../fonts/gotham/GothamRnd-BoldIta.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}