@font-face {
    font-family: 'Samim';
    src: url('../../fonts/samim/Samim-WOL.eot');
    src: url('../../fonts/samim/Samim-WOL.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/samim/Samim-WOL.woff2') format('woff2'),
         url('../../fonts/samim/Samim-WOL.woff') format('woff'),
         url('../../fonts/samim/Samim-WOL.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Samim';
    src: url('../../fonts/samim/Samim-Bold-WOL.eot');
    src: url('../../fonts/samim/Samim-Bold-WOL.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/samim/Samim-Bold-WOL.woff2') format('woff2'),
         url('../../fonts/samim/Samim-Bold-WOL.woff') format('woff'),
         url('../../fonts/samim/Samim-Bold-WOL.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Samim';
    src: url('../../fonts/samim/Samim-Medium-WOL.eot');
    src: url('../../fonts/samim/Samim-Medium-WOL.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/samim/Samim-Medium-WOL.woff2') format('woff2'),
         url('../../fonts/samim/Samim-Medium-WOL.woff') format('woff'),
         url('../../fonts/samim/Samim-Medium-WOL.ttf') format('truetype');
    font-weight: 500;
}
