{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lord of Cards</title>
    <meta name="description" content="Build flashcards of questions and answers"/>
    <meta name="keywords" content="flashcard, flashcards, question, answer"/>
    <meta name="copyright" content="Lord of Cards"/>
    <meta name="author" content="Lord of Cards"/>
    <meta name="reply-to" content="info@lordofcards.com"/>
    <link href="{% static 'landing/css/main.min.css' %}" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'landing/images/logo.png' %}" />
        </div>
    </header>
    <main>

        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <section class="slide">
                        <div class="slide_text">
                            <h1 class="slide_title element-anime">LORD <span class="primary--color">of</span> CARDS</h1>
                            <p class="slide_sub-title element-anime">Toward a modern Flash Cards concept.
                            </p>
                        </div>
                        <div class="slide_image">
                            <img src="{% static 'landing/images/1.jpeg' %}" />
                        </div>

                    </section>

                </div>
                <div class="swiper-slide">
                    <section class="slide">
                        <div class="slide_text">
                            <h1 class="slide_title element-anime">Build your smart notebook</h1>
                            <p class="slide_sub-title element-anime">Lord of cards let you build your custom notebook of questions & answers. A useful smart book to memorize the important subjects.
                            </p>
                        </div>
                        <div class="slide_image">
                            <img src="{% static 'landing/images/2.jpeg' %}" />
                        </div>

                    </section>

                </div>
                <div class="swiper-slide">
                    <section class="slide">
                        <div class="slide_text">
                            <h1 class="slide_title element-anime">Useful even for programmers</h1>
                            <p class="slide_sub-title element-anime">Rapid saving & finding the main pieces of code in programming.
                            </p>
                        </div>
                        <div class="slide_image">
                            <img src="{% static 'landing/images/3.jpeg' %}" />
                        </div>

                    </section>

                </div>

            </div>
 

            <div class="slider-controls">
                <div class="slider-controls--prev">
                    <img src="{% static 'landing/images/previous.png' %}" />
                </div>
                <a href="/login" class="slider-controls--link">
                    Login/Register
                </a>
                <div class="slider-controls--next">
                    <img src="{% static 'landing/images/next.png' %}" />
                </div>

            </div>
            <!-- If we need scrollbar -->

        </div>
    </main>
    <footer>

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="{% static 'landing/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'landing/js/main.js' %}"></script>

</body>

</html>