@import "mixins";
@import './fonts/all';
*,*::before,*::after{
    box-sizing: border-box;
}
body,html,#root{
    height: 100%;
}
body{
    font-family: Samim,gotham !important;
    background-color:rgb(248, 249, 250) ;
}
a{
    text-decoration: none;
    color: #6b6b6b;
}
.breadcrumbs{
    font-size: 14px;
}
.logo{
    text-decoration: none;
    user-select: 'none';
}
.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-question{
    @extend .text-overflow;
    max-height: 40px;
    min-height: 40px;
    max-width: 180px;
    display: flex;
    align-items: center;
    *{
        padding: 0;
        margin: 0;
    }
    pre{
        display: none
    }
    p,h1,h2,h3,h4,h5,h6,pre{
        @extend .text-overflow;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
    }
}

.box-card{
    margin-right: 16px;
    background-color: #fff;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 3px;
    padding: 15px;
    height: 400px;
}
 
.rotate-button{
    position: absolute;
    top: 3px;
    right: 19px;
}